In [66]:
import pandas as pd
from pandas.api.types import is_string_dtype, is_numeric_dtype
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use("ggplot")
%load_ext sql
import sqlite3
from sqlalchemy import create_engine

In [26]:
%sql postgresql://postgres:password@localhost/moodle

In [29]:
## Number of tables
# %sql SELECT * FROM information_schema.tables limit 5;
%sql SELECT COUNT(*) FROM information_schema.tables;

 * postgresql://postgres:***@localhost/moodle
1 rows affected.

[(642,)]

In [33]:
## 
%sql SELECT * mdl_analytics_models limit 5;

 * postgresql://postgres:***@localhost/moodle
(psycopg2.errors.UndefinedTable) relation "information_schema.mdl_analytics_models" does not exist
LINE 1: SELECT * FROM information_schema.mdl_analytics_models limit ...
                      ^

[SQL: SELECT * FROM information_schema.mdl_analytics_models limit 5;]
(Background on this error at: http://sqlalche.me/e/13/f405)

In [47]:
## Number of records
mit = ["mdl_logstore_standard_log","mdl_context",
"mdl_user","mdl_course","mdl_modules","mdl_course_modules",
"mdl_course_modules_completion","mdl_grade_items","mdl_grade_grades",
"mdl_grade_categories","mdl_grade_items_history",
"mdl_grade_grades_history","mdl_grade_categories_history",
"mdl_forum","mdl_forum_discussions","mdl_forum_posts"]

for table in mit:
    count = %sql SELECT COUNT(*) FROM {table};
    print(table,count)

 * postgresql://postgres:***@localhost/moodle
 * postgresql://postgres:***@localhost/moodle
1 rows affected.
mdl_logstore_standard_log +--------+
| count  |
+--------+
| 417554 |
+--------+
 * postgresql://postgres:***@localhost/moodle
1 rows affected.
mdl_context +-------+
| count |
+-------+
|  4359 |
+-------+
 * postgresql://postgres:***@localhost/moodle
1 rows affected.
mdl_user +-------+
| count |
+-------+
|  1052 |
+-------+
 * postgresql://postgres:***@localhost/moodle
1 rows affected.
mdl_course +-------+
| count |
+-------+
|   15  |
+-------+
 * postgresql://postgres:***@localhost/moodle
1 rows affected.
mdl_modules +-------+
| count |
+-------+
|   26  |
+-------+
 * postgresql://postgres:***@localhost/moodle
1 rows affected.
mdl_course_modules +-------+
| count |
+-------+
|  290  |
+-------+
 * postgresql://postgres:***@localhost/moodle
1 rows affected.
mdl_course_modules_completion +-------+
| count |
+-------+
|  4483 |
+-------+
 * postgresql://postgres:***@localhost/moodle
1 rows affected.
mdl_grade_items +-------+
| count |
+-------+
|  113  |
+-------+
 * postgresql://postgres:***@localhost/moodle
1 rows affected.
mdl_grade_grades +-------+
| count |
+-------+
|  3643 |
+-------+
 * postgresql://postgres:***@localhost/moodle
1 rows affected.
mdl_grade_categories +-------+
| count |
+-------+
|   16  |
+-------+
 * postgresql://postgres:***@localhost/moodle
1 rows affected.
mdl_grade_items_history +-------+
| count |
+-------+
|  486  |
+-------+
 * postgresql://postgres:***@localhost/moodle
1 rows affected.
mdl_grade_grades_history +-------+
| count |
+-------+
|  7108 |
+-------+
 * postgresql://postgres:***@localhost/moodle
1 rows affected.
mdl_grade_categories_history +-------+
| count |
+-------+
|   46  |
+-------+
 * postgresql://postgres:***@localhost/moodle
1 rows affected.
mdl_forum +-------+
| count |
+-------+
|   34  |
+-------+
 * postgresql://postgres:***@localhost/moodle
1 rows affected.
mdl_forum_discussions +-------+
| count |
+-------+
|   23  |
+-------+
 * postgresql://postgres:***@localhost/moodle
1 rows affected.
mdl_forum_posts +-------+
| count |
+-------+
|  131  |
+-------+

In [80]:
## Number of quiz submissions by hour of day
%sql SELECT COUNT(id), EXTRACT(HOUR FROM to_timestamp(timecreated)) AS HOUR FROM mdl_logstore_standard_log where action='submitted' AND component='mod_quiz' GROUP BY EXTRACT(HOUR FROM to_timestamp(timecreated));

 * postgresql://postgres:***@localhost/moodle
24 rows affected.

[(29, 0.0),
 (7, 1.0),
 (14, 2.0),
 (10, 3.0),
 (18, 4.0),
 (17, 5.0),
 (34, 6.0),
 (46, 7.0),
 (69, 8.0),
 (95, 9.0),
 (88, 10.0),
 (104, 11.0),
 (90, 12.0),
 (80, 13.0),
 (68, 14.0),
 (68, 15.0),
 (70, 16.0),
 (57, 17.0),
 (55, 18.0),
 (46, 19.0),
 (53, 20.0),
 (26, 21.0),
 (23, 22.0),
 (30, 23.0)]

In [82]:
%sql SELECT COUNT(id) FROM mdl_logstore_standard_log where action='confirmed' limit 5;

 * postgresql://postgres:***@localhost/moodle
0 rows affected.

[]